$primary-color:black;
$secondary-color:white;
$tertiary-color:grey;
$danger: red;
$theme-color:rgba(88,160,196, 0.5);

.dark-theme{
    --bg-clr:rgba(68, 64, 64, 0.475);
    --text:white;
    --theme-color:rgba(0, 0, 0, 0.637);
    --btn:blue;
    --nav-text:white;
    --home-more-btn: rgb(140, 140, 190);

}
.light-theme{
    --bg-clr:white;
    --text:black;
    --theme-color:rgba(88,160,196, 0.5);
    --btn:rgba(88,160,196, 0.5);
    --nav-text:white;
    --home-more-btn: rgb(69, 69, 202);
}