.contact-card{
    display: flex;
    .card-content{
        width: calc(100% - 400px);
        margin: 20px;
        input{
            border:none;
            border-bottom: 20x solid var(--text);
        }
    }
    .vl {
        border-left: 6px solid var(--theme-color);
        height: 500px;
      }
      .card-information{
        width: calc(100% - 500px);
        margin: 20px;
      }
}