@import "./config";
body{
  background-color: var(--bg-clr);
}
.create-bg{
  display: grid;
  place-items: center;
  .background-create {
    width: 1200px;
    height: 500px;
  }
}
input[type="text"]{
  cursor: pointer;
}
.create-width {
  display: grid;

  .create-center-align {
    width: 1200px;
    align-self: center;
    justify-self: center;

    .manuals {
      display: flex;
      justify-content: space-between;
      .create-blog-category {
        display: flex;
        .create-blog {
          height: 50px;
          width: 50px;
        }
        .category {
            margin: 5px;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--theme-color);
            border-radius: 10px;
        }
    }
    
    .post {
        margin: 5px;
        height: 50px;
        width: 100px;
        background-color: var(--theme-color);
        border: 1px solid transparent;
        border-radius: 10px;
        color:$secondary-color;
      }
    }

    .text-area {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }
  }
}
