@import "./config";

.footer {
  background-color: var(--theme-color);
  height: 400px;
  width: 100%;
  justify-content: space-between;
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .about ,.blogs-link {
      margin: 35px 0px;
      h5 {
        color: var(--nav-text);
      }
      ul {
        list-style: none;
        li {
          color: var(--nav-text);
          padding: 08px 0px;
        }
      }
    }
  }
  .footer-content-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .social-media {
      display: flex;
      flex-direction: column;
      h4 {
        color: var(--nav-text);
        margin: 10px;
      }
      .social-media-icon {
        display: flex;
        .insta,
        .facebook,
        .twitter {
          margin: 15px 08px;
          padding: 01px 02px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
      }
    }
    
    .horizontal {
      width: 100%;
      border-bottom: 1px solid var(--nav-text);
    }
    .copyright , .copyright-message{
      color: var(--nav-text);
    }
  }
}
