@import './config';
body{
    background-color: var(--bg-clr);
}
.home-bg-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.card{
    margin: 20px 30px;
    padding: 10px;
    width: 300px;
    display: grid;
    place-items: center;
    .card-img{
        height: 100px;
        width: 100px;
    }
    .card-body{
        text-align: center;
        .btn-user-profile{
            color:var(--home-more-btn);
            border-radius: 20px;
            border: 1px none;
        }
        .card-text{
            color: black;
        }
    }
}