@import "./config";

body {
  background-color: var(--bg-clr);
}
.home-bg-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.category-btns{
    display: flex;
    justify-content: space-evenly;
    .btn-category {
      width: 150px;
      height: auto;
      padding: 10px 0px;
      margin: 20px;
      color: var(--home-more-btn);
      border-radius: 20px;
      border: 1px none;
      &:hover {
        background-color: var(--text);
        color: var(--btn-category-text);
        font-weight: bold;
      }
    }
}
.card {
  margin: 20px 30px;
  padding: 10px;
  width: 300px;
  height: 400px;
  display: grid;
  place-items: center;
  .card-img {
    height: 160px;
    width: 250px;
  }
  .card-body {
    text-align: center;
    .read-edit-delete{
      display: flex;
      .btn-more{
        color: var(--home-more-btn);
        width: 100px;
        height: 60px;
        font-size:13px;
        border-radius: 10px;
        border: 1px none;
        padding:10px;
      }
      .btn-delete{
        background-color: transparent;
        color: red;
        border-radius: 10px;
        border: 1px none;
        padding:10px;
        margin-top: 08px;
      }
      .btn-edit{
        background-color:transparent;
        color: green;
        border-radius: 10px;
        border: 1px none;
        padding:10px;
        margin-top: 8px;
      }
    }
    .card-text {
      display: flex;
      justify-content: center;
      height: 90px;
      overflow: hidden;
      color: black;
    }
  }
}
.carousel-item{
  height: 600px;
  object-fit: cover;
}
