@import './config';

.parent-container{
    display: flex;
    height: 100vh;;
}
.children-container-one{
    flex: 3;
}
.bgimg {
    position: relative;
    img{
        width: 900px;
        height: 100vh;
    }
    .quote {
        font-size: 40px;
        color: $secondary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.children-container-two{
    flex:1;
}
.login-container{
    height: 100vh;

    .signup-right-container{
            border:2px solid brown;
            position: absolute;
            left: 59%;
            top: 10%;
        }
}
.form-password{
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: $primary-color;
    }
}
.btn-create-acc
{
    text-align: center;
.login-button{
        width: 250px;
        height: 45px;
        border: 0;
        outline: 0;
        background-color: $primary-color;
        color:$secondary-color;
        text-align: center;
        margin-top: 20px;
}
}