@import './config';

nav{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: var(--theme-color);
    position: sticky;
    top: 0;
}
.nav-width{
    display: flex;
    justify-content: center;
    align-items: center;
    .container-nav{
        display: flex;
        width: 1200px;
        justify-content: space-between;
        align-items: center;
    }
}
.navbar-item ul{
    list-style:none;
    display: flex;
    align-items: center;
    margin-left: -10px;
    li{
        padding: 10px 20px;
    }
    a{
        text-decoration: none;
        color: var(--nav-text);
        font-size: 20px;
    }
}

